<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>runtimeDemo copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>runtimeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1901CD431C3F4AD5008179B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1901CD5C1C3F4AD6008179B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1901CD671C3F4AD6008179B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1905F4541D82953A0063CC33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>199ACAC41CC0F5F9009B9B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
